/** Colors */
$primary:               #525ddc;
$blue:                  #006CD1;
$grey:                  #8D8D8D;
$purple:                #4B54FA;
$link:                  $purple;

/** Box Model  */
$spacer:                2rem;
